<div cy-data="app-1000" class="content">
  <app-auth></app-auth>
  <app-game-ui cy-data="app-2000"></app-game-ui>
  <app-inventory></app-inventory>

  <h1 cy-data="app-3000">Collections=>GameVersions and DlcVersions</h1>

  @for (collection of collections; track collection.id) {
    <div cy-data="app-4000">
      <h3 cy-data="app-5000">
        <a cy-data="app-6000" [title]="collection.title + ' details'">
          {{ collection.title }} ({{ collection.getVersionTypes() }}) ({{ collection.getPlayableOnTitles() }})
        </a>
      </h3>

      @for (gameVersion of collection.gameVersions; track gameVersion.id) {
        <div cy-data="app-7000" class="card-container">
          <button cy-data="app-8000" class="card card-small">
            @if (gameVersion.superVersion.game.title) {
              <a cy-data="app-9000" href="#">
                {{ gameVersion.superVersion.game.title }} ({{ gameVersion.superVersion.getVersionType() }}) ({{
                  gameVersion.getPlayableOnTitles()
                }})
              </a>
            }
          </button>
        </div>
      }

      @for (dlcVersion of collection.dlcVersions; track dlcVersion.id) {
        <div cy-data="app-10000" class="card-container">
          <button cy-data="app-11000" class="card card-small">
            @if (dlcVersion.dlc.title) {
              <a cy-data="app-12000" href="#">
                {{ dlcVersion.getFirstGameVersion().superVersion.game.title }}: {{ dlcVersion.dlc.title }} ({{
                  dlcVersion.getPlayableOnTitles()
                }}) (DLC)
              </a>
            }
          </button>
        </div>
      }
    </div>
  }

  <h1 cy-data="app-100">Games=>Super versions</h1>

  @for (game of games; track game.id) {
    <div cy-data="app-200">
      <h3 cy-data="app-300">
        <a cy-data="app-400" [title]="game.title + ' details'">
          {{ game.title }}
        </a>
      </h3>

      @for (superVersion of game.superVersions; track superVersion.id) {
        <div cy-data="app-1300" class="card-container">
          <button cy-data="app-1400" class="card card-small">
            <a cy-data="app-1500" href="#">{{ superVersion.getVersionType() }} {{ superVersion.getVersionYear() }}</a>
          </button>
        </div>
      }
    </div>
  }

  <h1>Series=>Games</h1>

  @for (aSeries of series; track aSeries.id) {
    <div cy-data="app-800">
      <h3 cy-data="app-1600">
        <a cy-data="app-1700" [title]="aSeries.title + ' details'">
          {{ aSeries.title }}
        </a>
      </h3>

      @for (game of aSeries.games; track game.id) {
        <div cy-data="app-1800" class="card-container">
          <button cy-data="app-1900" class="card">
            @if (game.title) {
              <a cy-data="app-2000" href="#">{{ game.title }}</a>
            }
          </button>
          @for (dlc of game.getAllDlcForThisGame(); track dlc.id) {
            <div cy-data="app-2100">
              <button cy-data="app-2200" class="card card-small">
                <a cy-data="app-2300" [title]="dlc.title + ' details'">
                  {{ dlc.title }}
                </a>
              </button>
            </div>
          }
        </div>
      }
    </div>
  }

  <h1 cy-data="app-2400">GameVersions=>DlcVersions</h1>

  @for (gameVersion of gameVersions; track gameVersion.id) {
    <div cy-data="app-2500">
      <h3 cy-data="app-2600">
        @if (gameVersion.dlcVersionsThatThisCanUse.length > 0) {
          <a cy-data="app-2700" [title]="gameVersion.superVersion.game.title + ' details'">
            {{ gameVersion.superVersion.game.title }} ({{ gameVersion.getIntendedForTitles() }} -
            {{ gameVersion.getProvider() }}) ({{ gameVersion.superVersion.getVersionType() }}
            {{ gameVersion.superVersion.getVersionYear() }})
          </a>
        }
      </h3>

      @for (dlcVersion of gameVersion.dlcVersionsThatThisCanUse; track dlcVersion.id) {
        <div cy-data="app-2800" class="card-container">
          <button cy-data="app-2900" class="card card-small">
            @if (dlcVersion.dlc.title) {
              <a cy-data="app-3000" href="#">{{ dlcVersion.dlc.title }} ({{ dlcVersion.dlc.firstRelease }})</a>
            }
          </button>
        </div>
      }
    </div>
  }
</div>
