<div cy-data="app-1000" class="content">
  <app-game-ui cy-data="app-2000"></app-game-ui>

  <h1 cy-data="app-3000">Collections=>GameVersions and DlcVersions</h1>

  <div cy-data="app-4000" *ngFor="let collection of collections">
    <h3 cy-data="app-5000">
      <a cy-data="app-6000" [title]="collection.title + ' details'">
        {{ collection.title }} ({{ collection.getVersionTypes() }}) ({{ collection.getPlayableOnTitles() }})
      </a>
    </h3>

    <div cy-data="app-7000" class="card-container" *ngFor="let gameVersion of collection.gameVersions">
      <button cy-data="app-8000" class="card card-small">
        <a cy-data="app-9000" *ngIf="gameVersion.superVersion.game.title" href="#">
          {{ gameVersion.superVersion.game.title }} ({{ gameVersion.superVersion.getVersionType() }}) ({{
            gameVersion.getPlayableOnTitles()
          }})
        </a>
      </button>
    </div>

    <div cy-data="app-10000" class="card-container" *ngFor="let dlcVersion of collection.dlcVersions">
      <button cy-data="app-11000" class="card card-small">
        <a cy-data="app-12000" *ngIf="dlcVersion.dlc.title" href="#">
          {{ dlcVersion.getFirstGameVersion().superVersion.game.title }}: {{ dlcVersion.dlc.title }} ({{
            dlcVersion.getPlayableOnTitles()
          }}) (DLC)
        </a>
      </button>
    </div>
  </div>

  <h1 cy-data="app-100">Games=>Super versions</h1>

  <div cy-data="app-200" *ngFor="let game of games">
    <h3 cy-data="app-300">
      <a cy-data="app-400" [title]="game.title + ' details'">
        {{ game.title }}
      </a>
    </h3>

    <div cy-data="app-1300" class="card-container" *ngFor="let superVersion of game.superVersions">
      <button cy-data="app-1400" class="card card-small">
        <a cy-data="app-1500" href="#">{{ superVersion.getVersionType() }} {{ superVersion.getVersionYear() }}</a>
      </button>
    </div>
  </div>

  <h1>Series=>Games</h1>

  <div cy-data="app-800" *ngFor="let aSeries of series">
    <h3 cy-data="app-1600">
      <a cy-data="app-1700" [title]="aSeries.title + ' details'">
        {{ aSeries.title }}
      </a>
    </h3>

    <div cy-data="app-1800" class="card-container" *ngFor="let game of aSeries.games">
      <button cy-data="app-1900" class="card">
        <a cy-data="app-2000" *ngIf="game.title" href="#">{{ game.title }}</a>
      </button>
      <div cy-data="app-2100" *ngFor="let dlc of game.getAllDlcForThisGame()">
        <button cy-data="app-2200" class="card card-small">
          <a cy-data="app-2300" [title]="dlc.title + ' details'">
            {{ dlc.title }}
          </a>
        </button>
      </div>
    </div>
  </div>

  <h1 cy-data="app-2400">GameVersions=>DlcVersions</h1>

  <div cy-data="app-2500" *ngFor="let gameVersion of gameVersions">
    <h3 cy-data="app-2600">
      <a
        cy-data="app-2700"
        *ngIf="gameVersion.dlcVersionsThatThisCanUse.length > 0"
        [title]="gameVersion.superVersion.game.title + ' details'"
      >
        {{ gameVersion.superVersion.game.title }} ({{ gameVersion.getIntendedForTitles() }} -
        {{ gameVersion.getProvider() }}) ({{ gameVersion.superVersion.getVersionType() }}
        {{ gameVersion.superVersion.getVersionYear() }})
      </a>
    </h3>

    <div cy-data="app-2800" class="card-container" *ngFor="let dlcVersion of gameVersion.dlcVersionsThatThisCanUse">
      <button cy-data="app-2900" class="card card-small">
        <a cy-data="app-3000" *ngIf="dlcVersion.dlc.title" href="#"
          >{{ dlcVersion.dlc.title }} ({{ dlcVersion.dlc.firstRelease }})</a
        >
      </button>
    </div>
  </div>
</div>
